.header-container{
   background-color: var(--primary-bg);
   color: var(--white);
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px;
}

.theme-button{
   padding:5px 10px;
   border-radius:8px;
   border:none;
   cursor:pointer;
   background-color:  var(--light-theme-btn);
   color:var(--white);
}

 